h1 {
    color: blue;
}

#btn1 {
    position: absolute;
    display: block;
    left: 50px;
    top: 200px;
}

#btn2 {
    position: absolute;
    display: block;
    left: 100px;
    top: 200px;
}

#btn3 {
    position: absolute;
    display: block;
    left: 150px;
    top: 200px;
}

#btn4 {
    position: absolute;
    display: block;
    left: 50px;
    top: 250px;
}

#btn5 {
    position: absolute;
    display: block;
    left: 100px;
    top: 250px;
}

#btn6 {
    position: absolute;
    display: block;
    left: 150px;
    top: 250px;
}

#btn7 {
    position: absolute;
    display: block;
    left: 50px;
    top: 300px;
}

#btn8 {
    position: absolute;
    display: block;
    left: 100px;
    top: 300px;
}

#btn9 {
    position: absolute;
    display: block;
    left: 150px;
    top: 300px;
}